/*清楚默认样式*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}
body{
	
	background: #f2f2f2;
}
::-webkit-scrollbar{width: 0px;}
/*头部盒子*/
.header{
	display:block;
	width: 100%;
	height: 50px;
	
	line-height: 50px;
	text-align:center;
	background: #333;
	z-index:9;

	color: #f2f2f2;
}
.header ul{
	display: block;
	width: 1000px;
	height: 50px;
	margin:0 auto;
}
.header li a{
	display: block;
	width: 200px;
	height: 50px;
	float: left;
	color: #ffffff;
	text-decoration: none;
}
/* flexslider */
.flexslider{
	position: relative;
	height: 300px;
	width: 100%;
	overflow: hidden;
	background:#F5F5F5 url(../images/main/loading.gif) 50% no-repeat;
	margin: 0 auto;
}
.slides {
	position: relative;
	z-index: 1;
}
.slides li {
	height: 300px;
}
.flex-control-nav {
	position: absolute;
	bottom: 10px;
	z-index: 2;
	width: 100%;
	text-align: center;
}
.flex-control-nav li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 5px;
	*display: inline;
	zoom: 1;
}
.flex-control-nav a {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 40px;
	overflow: hidden;
	background: url(../images/main/dot.png) right 0 no-repeat;
	cursor: pointer;
}
.flex-control-nav .flex-active {
	background-position: 0 0;
}
.flex-direction-nav {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 45%;
}
.flex-direction-nav li a {
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
}
.flex-direction-nav li a.flex-prev {
	left: 30px;
	background: url(../images/main/prev.png) center center no-repeat;
}
.flex-direction-nav li a.flex-next {
	right: 30px;
	background: url(../images/main/next.png) center center no-repeat;
} 






.search_wrap{
	width: 1000px;
	height: 110px;
	margin: 0 auto;
	margin-top: 20px;
}
.search{
	width: 750px;
	height: 55px;
	margin: 0 auto;
}
.search_input{
	display: block;
	float: left;
	margin: 0;
	width: 600px;
	height: 50px;
	border: 2px solid blue;
	border-right: 0;
	outline: none;
	line-height: 20px;
	margin-left: 50px;
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	background: #F2F2F2;
}
.search_go{
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	border: 2px solid blue;
	border-left:0;
	background: url(../icons/search.png) center center no-repeat;
}
.search_title{
	display: block;
	width: 400px;
	height: 70px;
	line-height: 70px;
	margin: 0 auto;
}





.content_wrap{
	width: 1000px;
	min-height: 1000px;
	margin: 0 auto;
	margin-top: 10px;
}
.content_L{
	width: 700px;
	min-height: 1000px;
	float: left;
	background: #333333;
	padding-bottom: 20px;
}
.content_R{
	width: 300px;
	height: 1000px;
	float: left;
}

.L_title{
	width: 700px;
	height: 70px;
	border-bottom: 1px #ccc dashed;
}
.L_title p{
	color: white;
	float: left;
	font-size: 30px;

	margin-left: 10px;
	margin-top: 10px;
}
.L_title span{
	width: 120px;
	height: 40px;
	display: block;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	
	text-align: center;
	line-height: 40px;
	font-size: 19px;
	color: white;

	border-radius: 50px;
	background: #222222;
	cursor: pointer;
}



.L_release{
	width: 500px;
	height: 500px;
	background: red;
	position: fixed;
	left: 50%;top: 50%;
	margin-left: -250px;
	margin-top: -250px;
	z-index: 900;
	background: #2D2F33;
}
.releaseTitle{
	width: 480px;
	height: 60px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
.releaseTit_name{
	float: left;
	width: 100px;
	height: 60px;
	font-size: 22px;
	color: white;
	text-align: center;
	line-height: 60px;
	cursor: default;

}
.releaseTit_close{
	float: right;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: white;
	font-size: 22px;
	cursor: pointer;
}
.releaseText{
	width: 480px;
	height: 360px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #3B3A3D;
}
.releaseTxt_titSpan{
	display: block;
	width: 215px;
	height: 30px;
	font-size: 19px;
	text-align: center;
	line-height: 30px;
	color: #fff;
}
.releaseChooseWrap{
	width: 470px;
	height: 30px;
	margin-top: 10px;
}
.releaseLabelWrap{
	width: 470px;
	height: 30px;
	margin-top: 10px;
}
.releaseTxt_tit{
	width: 470px;
	height: 110px;
	margin: 0 auto;
	margin-top: 5px;
	background: #2D2F33;
}
.releaseTxt_tit .releaseChoose{
	display: block;
}
.releaseTxt_tit .releaseLabel{
	display: none;
}
.releaseTxt_tit input{
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 20px;
	background: #292B2F;

	outline: none;
	cursor:pointer;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.releaseTxt_cont{
	width: 460px;
	height: 220px;
	margin: 0 auto;
	margin-top: 10px;
	background: red;

}
.releaseTxt_cont textarea{
	display: block;
	width: 430px;
	height: 200px;
	padding: 10px 15px;

	color: #fff;
	line-height: 30px;
	background: #292B2F;
	resize: none;
	font-size: 22px;
	text-indent: 2em;
}
.releaseTxt_cont ::-webkit-input-placeholder {
  /* WebKit browsers */
  text-indent: 2em;
  font-size: 22px;
  color: #5F5F63;
  font-weight: 300;
}
.releaseTxt_cont :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 22px;
  color: #5F5F63;
  opacity: 1;
  font-weight: 300;
}
.releaseTxt_cont ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 22px;
  color: #5F5F63;
  opacity: 1;
  font-weight: 300;
}
.releaseTxt_cont :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 22px;
  color: #5F5F63;
  font-weight: 300;
}

.releaseFooter{
	width: 480px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
}
.releaseSource{
	width: 300px;
	height: 40px;
	float: left;
}
.releaseSource input{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 20px;
	margin-left: 10px;
	outline: none;
}
.releaseSource label{
	display: block;
	float: left;
	color: #fff;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 10px;
}
.releaseNow{
	width: 110px;
	height: 40px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;

	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
	background: #26354B;
	border-radius: 5px;
	cursor: pointer;
}
.releaseNow input{
	width: 110px;
	height: 40px;
	margin-top: 5px;
	margin-right: 5px;

	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
	background: #26354B;
	border-radius: 5px;
	cursor: pointer;
}
.ifYes{
	width: 300px;
	height: 100px;
	background: red;
	position: fixed;
	left: 50%;top: 50%;
	margin-left: -150px;
	margin-top: -50px;
	z-index: 999;
	background: #26354B;
}
.ifYes p{
	width: 300px;
	height: 50px;
	border-bottom: 1px solid #3B3A3D;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	color: #fff;
}
.ifYes input{
	width: 78px;
	height: 30px;
	margin-top: 5px;
	margin-left: 15px;
	cursor: pointer;
	color: #000;
	font-size: 18px;
}





.L_main{
	width: 700px;
	min-height: 235px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	float: left;
	margin-top: 25px;
	border-radius: 15px;
	border-bottom: 1px solid #ccc;
}
.userInfo{
	width: 175px;
	height: 190px;
	margin-top: 30px;
	float: left;
}
.L_mainPhoto{
	display: block;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 90px;
}
.L_mainName{
	display: block;
	width: 120px;
	height: 40px;
	margin: 0 auto;
	margin-top: 10px;

	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #fff;
}
.L_mainCollect{
	width: 27px;
	height: 27px;
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	cursor:pointer;
	background: url(../icons/collect.png) no-repeat 0 0;
}
.L_mainLove{
	width: 27px;
	height: 27px;
	margin-top: 10px;
	margin-left: 50px;
	float: left;
	cursor:pointer;
	background:url(../icons/love.png) no-repeat 0 0;
}
.L_arrow{
	width: 0;
	height: 0;
	margin-top: 50px;
	border-top: 30px solid transparent;
    border-right: 35px solid #ccc;
    border-bottom: 30px solid transparent;
	float: left;
}
.L_mainText{
	width: 410px;
	min-height: 150px;
	line-height: 30px;
	text-indent: 2em;
	font-size: 22px;
	font-family: "楷体";

	padding: 20px 20px;
	border-radius: 13px;
	margin-top: 30px;
	background: #ccc;
	float: left;
}
.L_mainInfo{
	width: 450px;
	height: 30px;
	float: right;
	margin-top: 10px;
	margin-right: 40px;

}
.L_mainInfo span{
	display: block;
	float: left;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	margin-left: 25px;
}
.L_mainInfo .L_mainDate{
	width: 130px;
}
.L_mainInfo .L_mainSource
{
	width: 50px;
}
.L_mainInfo .L_LoveAmount
{
	width: 70px;
	text-align: right;
	padding-right: 10px;
	background: url(../icons/smallLove.png) no-repeat 10px;
}
.L_mainInfo .L_CollectAmount
{
	width: 70px;
	text-align: right;
	padding-right: 10px;
	background: url(../icons/smallSearch.png) no-repeat 10px;
}
.L_more1{
	float: left;
	display: block;
	width: 110px;
	height: 40px;
	padding: 5px 10px;
	font-size: 22px;
	color: #ffffff;
	margin-left: 40px;
	text-align: center;
	line-height: 40px;
	background: #26354B;
	border-radius: 10px;
	cursor: pointer;
}
.L_more2{
	float: left;
	width: 360px;
	height: 40px;
	padding: 5px 10px;
	font-size: 22px;
	color: #ffffff;
	margin-left: 40px;
	text-align: center;
	line-height: 40px;
	background: #26354B;
	border-radius: 10px;
}

#tab { 
	width: 291px; 
	min-height: 355px;
	margin-left: 9px;
	margin: 0 auto;
}
#tab .nav {
	width: 291px;
	height: 70px;
	overflow: hidden;
	background: #333333;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#tab .box { 
	width: 291px;
	height:285px;
	overflow:hidden;
	display:none;
	background:#2a2a2a;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#tab .box a,li{ 
	color:#A6A6A6;
	text-decoration: none;
	line-height: 33px;
}
#tab .nav li {
	list-style: none;
}
#tab .nav li a {
	float: left;
	width: 96px;
	height: 70px;

	text-decoration: none;

	font-size: 20px; 
	line-height: 70px;
	text-align: center;
	font-family:"楷体";
	color: white;
}
#tab .nav .active a{
	font-weight: bold;
	background:#222222;
}

.box li { white-space: nowrap; text-overflow: ellipsis; overflow: hidden }
.box li span:before { content: "0"; }/* 数字列表前面统一加0  */
.box li span { margin-left: 10px; margin-right: 10px; font-size: 14px; font-family: "微软雅黑"; }
.box li:nth-child(-n+3) span { width: 39px; color: red } /* 选择从第3个开始倒数也就是第三个前面的 */
.box li:nth-child(-n+3) strong { font-size: 24px; font-weight: normal; }
.box li:first-child span { color: #f8490b; } /* 选择第一个 */
.box li:nth-child(n+3) { line-height: 24px } /* 选择从第3个开始往后数 */
.box li:nth-child(4) { margin: 5px 0 0 0 } /* 选择第四个 */



#label { 
	width: 291px; 
	min-height: 355px;
	margin-left: 9px;
	margin: 0 auto;
	margin-top: 10px;
}
#label .label_nav {
	width: 291px;
	height: 70px;
	overflow: hidden;
	
	color: #ffffff;
	text-align: center;
	line-height: 70px;
	font-size: 22px;
	font-family:"楷体";
	font-weight: bold;

	background: #333333;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#label_box{
	position:relative; 
	width:291px; 
	height:260px; 
	margin: 0 auto;
	background:#2a2a2a;
	overflow:hidden; 
}
#label_box a{
	position:absolute; 
	color:#ffffff; 
	text-decoration:none; 
	top:260px; 
	display:block; 
	background:#EB6841; 
	filter:alpha(opacity:70);
	opacity:0.7;
	font-size:10px; 
	padding:6px 10px; 
	font-family:arial;
}
#label_box a:hover { 
	font-weight:bold;
}


#contact{ 
	width: 291px; 
	min-height: 270px;
	margin-left: 9px;
	margin: 0 auto;
	margin-top: 10px;
}
#contact .contact_nav {
	width: 291px;
	height: 70px;
	overflow: hidden;
	
	color: #ffffff;
	text-align: center;
	line-height: 70px;
	font-size: 22px;
	font-family:"楷体";
	font-weight: bold;

	background: #333333;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#contact .contact_box{
	width: 291px;
	height: 200px;
	background: #2a2a2a;
}
#contact .contact_box li{
	margin-left: 25px;
	list-style: disc;
	font-size: 22px;
	line-height: 40px;
}










.footer{
	width: 100%;
	height: 90px;
	float: left;
	margin-top: 30px;
	
	line-height: 50px;
	text-align:center;
	background: #333;

	color: #f2f2f2;
}